<div class="home__container">
  <app-card
    gameCover="assets/images/bt-5.jpg"
    gameLabel="MIDIA FISICA"
    gameType="MIDIA FISICA | PS5"
    gamePrice="R$ 129,99">
  </app-card>

  <app-card
    gameCover="assets/images/ac-cover.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 119,99">
  </app-card>

  <app-card
    gameCover="assets/images/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 159,99">
  </app-card>

  <app-card
    gameCover="assets/images/bt-4.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 79,99">
  </app-card>

  <app-card
    gameCover="assets/images/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 49,99">
  </app-card>

  <app-card
    gameCover="assets/images/bt-hardline.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 92,99">
  </app-card>
</div>
